body {
    background-color: #f0f4ff;
    font-family: Arial;
    text-align: center;
    margin-top: 60px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 30px;
    background-color: #4a6cff;
    color: white;
    border: none;
    border-radius: 5px;
}
